:root {
    --el-color-primary: #722ed1 !important;
    --el-color-primary-light-1: #8042d5 !important;
    --el-color-primary-light-2: #8e57da !important;
    --el-color-primary-light-3: #9c6cde !important;
    --el-color-primary-light-4: #aa81e3 !important;
    --el-color-primary-light-5: #b896e8 !important;
    --el-color-primary-light-6: #c6abec !important;
    --el-color-primary-light-7: #d4c0f1 !important;
    --el-color-primary-light-8: #e2d5f5 !important;
    --el-color-primary-light-9: #f0eafa !important;
}

@import "./mixin.scss";
@import "./transition.scss";
@import "./element-plus.scss";
@import "./reset.scss";
@import "./core.scss";
